In [2]:
import pandas as pd

### .xlsx to .csv

In [2]:
xlsx_file = pd.read_excel('../../data/raw/mozambique_rede-escolar_wis_school-data.xlsx')

xlsx_file.to_csv('../../data/raw/mozambique_rede-escolar_wis_school-data.csv', index=False)

### load csv dataset

In [3]:
data = pd.read_csv('../../data/raw/mozambique_rede-escolar_wis_school-data.csv')

### dataset features

In [4]:
data.head()

,Provincia,Distrito,Posto,Localidade,Povoado,Cod__Escola,NomeEsco_1,ZIP,Agua,TipoFonte,...,Estado_de_Conservação3,Urinois,TotalUrino,UrinoisFun,Estado_de_Conservação4,CasaBanho,TotalCB,CBFunci,Longitude,Latitude
0,Manica,Vanduzi,Vanduzi,Chigodole,Nhassoro,04-0348,Escola Primário do 1º Grau 4 de Outubro,Chigodole,Não,Sim,...,Razoável,Não,0.0,Não,Nenhum,Não,0,Nenhuma,33.238361,-19.212528
1,Niassa,Chimbunila,Lione,Naicuanha,Naicuanha,70674,Escola Primária de Naicuainha,EPC de Undi,Não,Sim,...,Bom,Não,0.0,Não,Nenhum,Não,0,Não,35.200139,-13.476167
2,Niassa,Chimbunila,Chimbunila,Lipapa,Lipapa,70684,Escola Primária de Lipapa,EPC de Namuanga,Não,Sim,...,Nenhum,Não,0.0,Não,Nenhum,Não,0,Não,35.540361,-13.435000
3,Niassa,Chimbunila,Chimbunila,Icuvi,Icuvi,70685,Escola Primária de Icuvi,EPC de Undi,Não,Sim,...,Nenhum,Não,0.0,Não,Nenhum,Não,0,Não,35.792472,-13.337917
4,Niassa,Chimbunila,Chimbunila,Mbau,Mbau,70686,Escola Primária de Mbbau,EPC de Undi,Não,Sim,...,Bom,Não,0.0,Não,Nenhum,Não,0,Não,35.690269,-13.315156

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13022 entries, 0 to 13021
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Provincia               13015 non-null  object
 1   Distrito                13015 non-null  object
 2   Posto                   13011 non-null  object
 3   Localidade              13013 non-null  object
 4   Povoado                 13003 non-null  object
 5   Cod__Escola             13008 non-null  object
 6   NomeEsco_1              13015 non-null  object
 7   ZIP                     12958 non-null  object
 8   Agua                    13015 non-null  object
 9   TipoFonte               13015 non-null  object
 10  QualiAgua               13015 non-null  object
 11  Energia                 13015 non-null  object
 12  TipoEnergi              13015 non-null  object
 13  Latrina                 13015 non-null  object
 14  TotalLatri              13015 non-null  float64
 15  Estado_de_Conservação3  13015 non-null  object
 16  Urinois                 13015 non-null  object
 17  TotalUrino              13015 non-null  float64
 18  UrinoisFun              13015 non-null  object
 19  Estado_de_Conservação4  13015 non-null  object
 20  CasaBanho               13015 non-null  object
 21  TotalCB                 13016 non-null  object
 22  CBFunci                 13015 non-null  object
 23  Longitude               13002 non-null  float64
 24  Latitude                13002 non-null  float64
dtypes: float64(4), object(21)
memory usage: 2.5+ MB

### check for null values and duplicates

In [4]:
# dataset shape
print(f"rows: {data.shape[0]}")
print(f"columns: {data.shape[1]}")
print()

# check for null values
print('null values:')
print(data.isnull().sum())
print()

# check for duplicates
duplicated = data[data.duplicated()]
print("Duplicates:")
print(duplicated)

# drop both
data.dropna(inplace=True)
data = data.drop_duplicates()

rows: 13022
columns: 25

null values:
Provincia                  7
Distrito                   7
Posto                     11
Localidade                 9
Povoado                   19
Cod__Escola               14
NomeEsco_1                 7
ZIP                       64
Agua                       7
TipoFonte                  7
QualiAgua                  7
Energia                    7
TipoEnergi                 7
Latrina                    7
TotalLatri                 7
Estado_de_Conservação3     7
Urinois                    7
TotalUrino                 7
UrinoisFun                 7
Estado_de_Conservação4     7
CasaBanho                  7
TotalCB                    6
CBFunci                    7
Longitude                 20
Latitude                  20
dtype: int64

Duplicates:
      Provincia Distrito           Posto      Localidade            Povoado  \
5942    Nampula  Nampula         Anchilo    Anchilo sede          Namachilo
5946    Nampula  Nampula         Anchilo       Namiconha            Nampeia
5947    Nampula  Nampula        Natikire        Natiripe  Cidade de Nampula
5948    Nampula  Nampula        Natikire     Murrapaniua  Cidade de Nampula
5949    Nampula  Nampula  Urbano Central  Urbano Central  Cidade de Nampula
13011   Nampula  Nampula         Anchilo       Saua-Saua             Mijeka
13014   Nampula  Nampula         Anchilo          Napuri          Marratane
13016       NaN      NaN             NaN             NaN                NaN
13017       NaN      NaN             NaN             NaN                NaN
13018       NaN      NaN             NaN             NaN                NaN
13019       NaN      NaN             NaN             NaN                NaN
13020       NaN      NaN             NaN             NaN                NaN

      Cod__Escola                                       NomeEsco_1        ZIP  \
5942        62191           Escola Primária do 1º Grau de Nacocolo  Marratane
5946        62443            Escola Primária do 1º Grau de Nampeia   Muhavula
5947        62452    Escola Primária do 1º e 2º Grau  de Namathera    Marrere
5948        62453  Escola Primária do 1º e 2º Grau de Muthimacanha    Marrere
5949        62458           Escola de Princess Cinderela Privada    Limoeiros
13011       62357             Escola Primária do 1º Grau de Tanuno     Naputa
13014       62602            Escola Primária do 1º Grau  de Nacuma     Muezia
13016         NaN                                              NaN        NaN
13017         NaN                                              NaN        NaN
13018         NaN                                              NaN        NaN
13019         NaN                                              NaN        NaN
13020         NaN                                              NaN        NaN

      Agua      TipoFonte  ... Estado_de_Conservação3 Urinois TotalUrino  \
5942   Não            Sim  ...                 Nenhum     Não        0.0
5946   Não            Sim  ...               Razoável     Não        0.0
5947   Não            Sim  ...               Razoável     Sim        2.0
5948   Não            Sim  ...               Razoável     Sim        3.0
5949   Não            Sim  ...                 Nenhum     Não        0.0
13011  Não  Nenhuma Fonte  ...               Razoável     Não        0.0
13014  Não  Nenhuma Fonte  ...                 Nenhum     Sim        2.0
13016  NaN            NaN  ...                    NaN     NaN        NaN
13017  NaN            NaN  ...                    NaN     NaN        NaN
13018  NaN            NaN  ...                    NaN     NaN        NaN
13019  NaN            NaN  ...                    NaN     NaN        NaN
13020  NaN            NaN  ...                    NaN     NaN        NaN

      UrinoisFun  Estado_de_Conservação4 CasaBanho TotalCB  CBFunci  \
5942         Não                  Nenhum       Não       0  Nenhuma
5946         Não                  Nenhum       Não       0  Nenhuma
5947         Sim                Razoável       Sim       2      Sim
5948         Sim                Razoável       Não       0  Nenhuma
5949         Não                  Nenhum       Não       0  Nenhuma
13011        Não                  Nenhum       Sim       5      Sim
13014        Sim                     Bom       Não       0      Não
13016        NaN                     NaN       NaN     NaN      NaN
13017        NaN                     NaN       NaN     NaN      NaN
13018        NaN                     NaN       NaN     NaN      NaN
13019        NaN                     NaN       NaN     NaN      NaN
13020        NaN                     NaN       NaN     NaN      NaN

       Longitude   Latitude
5942   39.155944 -15.092333
5946   39.200833 -15.076694
5947   39.180000 -15.129528
5948   39.306333 -15.088917
5949   39.358694 -15.071778
13011  39.280139 -15.132222
13014  39.279806 -15.110250
13016        NaN        NaN
13017        NaN        NaN
13018        NaN        NaN
13019        NaN        NaN
13020        NaN        NaN

[12 rows x 25 columns]

### drop columns that will not be used or contain inconsistent data

In [5]:
data.drop([
    'Posto',
    'Localidade',
    'Povoado',
    'ZIP',
    'Cod__Escola',
    'Latrina',
    'TotalLatri',
    'Estado_de_Conservação3',
    'Urinois',
    'TotalUrino',
    'UrinoisFun', 
    'Estado_de_Conservação4'], axis=1, inplace=True)

### rename remain columns

In [6]:
data = data.rename(columns={
    'NomeEsco_1':'NomeEscola',
    'QualiAgua':'QualidadeAgua',
    'TipoEnergi':'TipoEnergia',
    'CBFunci':'CasaBanhoFuncional',
    'TotalCB': 'TotalCasaBanho'})

### handle some columns inconsistency

In [7]:
data.loc[data['Agua'] == 'Não', 'TipoFonte'] = 'Nenhuma Fonte'
data.loc[data['TipoFonte'] == 'Nenhuma Fonte', 'Agua'] = 'Não'
data.loc[data['Energia'] == 'Não', 'TipoEnergia'] = 'Nenhum'
data.loc[data['TipoEnergia'] == 'Nenhum', 'Energia'] = 'Não'
data.loc[data['CasaBanho'] == 'Não', 'CasaBanhoFuncional'] = 'Não'

### save new dataset

In [17]:
data.head()

,Provincia,Distrito,NomeEscola,Agua,TipoFonte,QualidadeAgua,Energia,TipoEnergia,CasaBanho,TotalCasaBanho,CasaBanhoFuncional,Longitude,Latitude
0,Manica,Vanduzi,Escola Primário do 1º Grau 4 de Outubro,Não,Nenhuma Fonte,Nenhuma,Não,Nenhum,Não,0,Não,33.238361,-19.212528
1,Niassa,Chimbunila,Escola Primária de Naicuainha,Não,Nenhuma Fonte,Nenhuma,Não,Nenhum,Não,0,Não,35.200139,-13.476167
2,Niassa,Chimbunila,Escola Primária de Lipapa,Não,Nenhuma Fonte,Nenhuma,Não,Nenhum,Não,0,Não,35.540361,-13.435000
3,Niassa,Chimbunila,Escola Primária de Icuvi,Não,Nenhuma Fonte,Nenhuma,Não,Nenhum,Não,0,Não,35.792472,-13.337917
4,Niassa,Chimbunila,Escola Primária de Mbbau,Não,Nenhuma Fonte,Nenhuma,Não,Nenhum,Não,0,Não,35.690269,-13.315156

In [8]:
data.to_csv('../../data/processed/school_data.csv', index=False)